@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('./header.css');
@import url('./toast.css');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --red: #CE4646;
    --green: #4BA036;
    --blue: #4200FF;
    --gray: #F8F8F8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.hidden {
    display: none;
}