@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --red: #CE4646;
    --green: #4BA036;
    --blue: #4200FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header__logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

.header__list {
    list-style-type: none;
    display: flex;
}

.header__modalBtn {
    border: none;
    background: transparent;
    cursor: pointer;
}

.header__dialog {
    position: absolute;
    width: 100%;
    left: 0;

}

.header__nav--modal {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.header__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

.header__listItem--first,
.header__listItem--second {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 3rem;
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 21px;
    border: 1px solid var(--blue);
    cursor: pointer;
}

.header__listItem--first {
    background-color: var(--white);
}

.header__listItem--first a {
    color: var(--blue);
}

.header__listItem--second {
    background-color: var(--blue);
}

.header__listItem--second a {
    color: var(--white);
}

.header__nav {
    display: none;
}

.hidden {
    display: none;
}

@media (min-width: 1024px) {
    .header {
        max-width: 1024px;
        margin: 0 auto;
    }

    .header__modalWrapper {
        display: none;
    }

    .header__nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}