.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    max-width: 1024px;
    margin: 0 auto;
    overflow: hidden;
}

.main__section--bg {
    display: none;
}

.main__section {
    width: 100%;
}

.main__container {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.main__filterBtn {
    width: 100%;
    background: var(--blue);
    padding: .5rem 1rem;
    border: none;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: var(--white);
    cursor: pointer;
}

.main__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
    overflow: auto;
    max-width: 100%;
}

.main__card {
    height: 210px;
    min-width: 240px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    border-bottom: 1px solid var(--blue);
}

.main__cardTitle {
    font-size: 20px;
    line-height: 24px;

}

.main__cardText {
    font-size: 16px;
    line-height: 19px;
    color: var(--black);
}

.main__cardSector {
    font-size: 16px;
    line-height: 19px;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 255px;
    padding: .5rem 1rem;
    cursor: pointer;
}

@media (min-width: 1024px) {
    .main {
        align-items: flex-start;
    }

    .main__container {
        padding-top: 0;
    }

    .main__section--bg {
        display: flex;
        max-width: 550px;
    }

    .main__background {
        max-width: 550px;
        min-height: 750px;
        object-fit: cover;
    }

    .main__card {
        min-width: 490px;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1rem;
        border-bottom: 1px solid var(--blue);
    }

    .main__cardTitle {
        margin-bottom: 1rem;
    }


    .main__list {
        flex-direction: column;
    }

}