.toast-container {
    position: absolute;
    z-index: 10;
    bottom: 1rem;
    right: 1rem;
    color: var(--white);
    padding: 1rem 2rem;
    border-radius: 4px;
}

.toast-success {
    background: var(--green);
}

.toast-error {
    background: var(--red);
}